body {
  font-family: "Sarabun", sans-serif;
  background: #e0d4c3;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#flipbook {
  margin: 20px auto;
}

.page {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
}

.page img {
  max-width: 90%;
  border: 1px solid #999;
  margin: 10px 0;
}
